body, header, nav, main, footer {
    margin: 0;
}

header {
    background-image: url('header_p.jpg');
    background-size: cover;
    background-position: center;
    height: 100px;
    padding: 10px;
    color: #fff;
    text-decoration-line: underline;
    text-align: center;
    font-size: large;
    text-shadow: 1px 1px 1px black;
}

nav, footer {
    background-color: #E68A00;
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    background-color: #B35900;
}

main {
    display: flex;
}

body {
    background-color: white;
    color: black;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 16px;
}

h2 {
    color: #4D3326;
    margin-top: 20px;
}

.box {
    border: 1px solid #4D3326;
    padding: 20px;
    margin-bottom: 20px;
}

.column {
    padding: 10px;
    background-color: #fff;
}

.column.side, .column.center {
    float: left;
}

.column.side {
    width: 20%;
}

.column.side {
    background-color: #4D3326;
    color: white;
    padding: 20px;
}

.column.side h2 {
    color: #4D3326;
    background-color: white;
    font-weight: bolder;
}

.column.side ul {
    list-style-type: none;
    padding: 0;
}

.column.side li {
    margin-bottom: 10px;
}

.column.side li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.column.side li a:hover {
    color: #4D3326;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
}

.column.center {
    width: 60%;
}

footer {
    color: #fff;
    padding: 10px;
}
